[alias]
    aliases = !git config --global --get-regexp alias. | sed -re 's/alias\\.(\\w+)\\s+([^!])/\\1 = git \\2/' -e 's/alias\\.(\\w+)\\s+!/\\1 = /'
    alog = log --all --decorate --graph
    amend = commit --amend --no-edit
    blog = log --decorate --graph @{u}..
    bmerged = branch --merged=master
    bdiverged = branch --no-merged=master
    changed = diff --name-only
    detach = checkout --detach
    fall = fetch --all --prune
    ff = merge --ff --ff-only
    fixup = commit --fixup
    glog = log --decorate --graph
    lol = log --all --decorate --graph --oneline
    ncommit = commit --no-edit
    noff = merge --no-ff
    reup = pull --rebase
    revert-tree = checkout -- .
    reword = commit --amend --edit --only
    squash = commit --squash
    staged = diff --staged
    start = checkout -tb
    summary = log --decorate --graph --oneline
    up = pull --ff --ff-only
    wip = status -sb
[apply]
    #whitespace = error-all
    #whitespace = error
    #whitespace = warn
[bam]
    tails = true
[color]
    #diff = auto
    #grep = auto
    ui = auto
[core]
    #autocrlf = true
    autocrlf = input
    filemode = false
    #safecrlf = warn
    logAllRefUpdates = true
    #whitespace=space-before-tab,tab-in-indent,tab-width=4,trailing-space
[diff]
    #renames = true
    renames = copy
    tool = vimdiff
[difftool]
    prompt = false
[gc]
   pruneExpire = 6 months
   reflogExpire = never
   reflogexpireUnreachable = never
   rerereresolved = forever
   rerereunresolved = forever
[log]
    decorate = short
    #showroot = true
[merge]
    ff = false
    log = 1000
[pretty]
    subject = %s
    body = %B
[pull]
    ff = only
[push]
    default = tracking
[rebase]
    autosquash = true
[rerere]
    enabled = true
[user]
    name = "Brandon McCaig"
    email = "bamccaig@gmail.com"
