.cmus/*.pl
.cmus/autosave
.cmus/cache
.cmus/command-history
.cmus/search-history
.emacs.d/auto-save-list/
.emacs.d/evil
.mutt/aliases
.mutt/certificates
.mutt/cache
.newsbeuter/*.db
.newsbeuter/*.cmdline
.newsbeuter/*.search
.vim/autoload
.vim/bundle
.vim/.netrwhist
