[alias]
    aliases = !git config --global --get-regexp alias. | sed -re 's/alias\\.(\\w+)\\s+([^!])/\\1 = git \\2/' -e 's/alias\\.(\\w+)\\s+!/\\1 = /'
    alog = log --all --decorate --graph
    amend = commit --amend --no-edit
    blog = log --decorate --graph @{u}..
    bmerged = branch --merged=master
    bdiverged = branch --no-merged=master
    branch-remote = !git config "branch.${1:-$(git current)}.remote"
    changed = diff --name-only
    current = !git branch | grep '^\\*' | sed -e 's/^\\*\\?\\s*//g'
    detach = checkout --detach
    fall = fetch --all --prune
    ff = merge --ff --ff-only
    fixup = commit --fixup
    glog = log --decorate --graph
    lol = log --all --decorate --graph --oneline
    ncommit = commit --no-edit
    noff = merge --no-ff
    oops = push --force-with-lease
    reup = !git pull --rebase "$(git branch-remote)" \"$(git current)\"
    revert-tree = checkout -- .
    reword = commit --amend --edit --only
    squash = commit --squash
    staged = diff --staged
    start = checkout -tb
    summary = log --decorate --graph --oneline
    update = pull --ff --ff-only
    wip = log --no-decorate --graph --oneline @{u}..
    wipd = log --decorate --graph --online @{u}..
    dot = commit -am ...
    dot-push = !git commit -am ... && git push
    auto-rebase = !git -c core.editor=true rebase -i @{u}
    ff-branch = !git fetch origin "$1:$1"
    clean-orig = clean -f *.orig
    first-push = !git current | xargs -I? git push -u origin ?:?
    original-commit = show rebase-apply/original-commit
    tag-release = "!git tag -f \"$1\" \"${2:-HEAD}\" && git push -f origin \"refs/tags/$1\" #"
    deleted-views = "!git -c diff.renameLimit=999999 log --all --diff-filter=D --summary \"${1:-HEAD~}..${2:-HEAD}\" | grep delete | egrep '([^./]+\\.[^./]+)\\.cshtml$' | sed -re 's/^\\s*delete mode 100644 //' | sort | uniq #"
[apply]
    #whitespace = error-all
    #whitespace = error
    #whitespace = warn
[bam]
    tails = true
[color]
    #diff = auto
    #grep = auto
    ui = auto
[core]
    #autocrlf = true
    autocrlf = input
    filemode = false
    #safecrlf = warn
    logAllRefUpdates = true
    #whitespace=space-before-tab,tab-in-indent,tab-width=4,trailing-space
[diff]
    #renames = true
    renames = copy
    tool = meld
[difftool]
    prompt = true
[gc]
   pruneExpire = 6 months
   reflogExpire = never
   reflogexpireUnreachable = never
   rerereresolved = forever
   rerereunresolved = forever
[log]
    decorate = short
    #showroot = true
[merge]
    ff = false
    log = 1000
    tool = meld
[mergetool]
    prompt = true
[pretty]
    subject = %s
    body = %B
[pull]
    ff = only
[push]
    default = tracking
[rebase]
    autosquash = true
[rerere]
    enabled = true
[user]
    name = "Brandon McCaig"
    email = "bamccaig@gmail.com"
[credential]
	helper = cache --timeout=3600
