[alias]
    br  = branch
    ci  = commit
    co  = checkout
    di  = diff
    st  = status
    sta = stash
[core]
	filemode = false
	autocrlf = input
[merge]
    log = true
[push]
	default = upstream
[rebase]
    autosquash = true
[user]
	name = "Brandon McCaig"
	email = "bamccaig@gmail.com"
