.cmus/*.pl
.cmus/autosave
.cmus/cache
.cmus/command-history
.cmus/search-history
.mutt/aliases
.mutt/certificates
.mutt/cache
.newsbeuter/*.db
.newsbeuter/*.cmdline
.newsbeuter/*.search
.vim/.netrwhist
